<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 Strict//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta http-equiv="content-type" content="%content_type%; charset=UTF-8"></meta>
  <link rel="stylesheet" type="text/css" href="%css_file%"></link>
  <title>%heading%</title>
</head>
<body>
  <h1 class="heading">%heading%</h1>
<TMPL_INCLUDE name="compact_menu.inc">
  <div class="help">
    <h2><a name="toc">Help contents</a></h2>
    <table class="help_toc">
      <tr>
        <td class="toc_item"><a href="#tips">Quick tips</a></td>
        <td>–</td>
        <td>What are a few <em>quick tips</em>?</td>
      </tr>
      <tr>
        <td class="toc_item"><a href="#ranked_query">Ranked query</a></td>
        <td>–</td>
        <td>What&apos;s a <em>ranked query</em>?</td>
      </tr>
      <tr>
        <td class="toc_item"><a href="#algorithms">Algorithms</a></td>
        <td>–</td>
        <td>Which ranking/weighting <em>algorithms</em> are supported?</td>
      </tr>
      <tr>
        <td class="toc_item"><a href="#regular_expressions">Regular expressions</a></td>
        <td>–</td>
        <td>What are <em>regular expressions</em>?</td>
      </tr>
      <tr>
        <td class="toc_item"><a href="#options">Options</a></td>
        <td>–</td>
        <td>What do these <em>options</em> mean?</td>
      </tr>
    </table>
    <hr />
    <p>
      <h2><a name="tips">Quick tips</a></h2>
      <ul>
        <li>The query will be performed as <a href="#ranked_query">&quot;ranked query&quot;</a> (or &quot;best match query&quot;, as opposed to &quot;exact match query&quot;).</li>
        <li>There&apos;s no support for (hierarchical) grouping by parentheses; phrases (&quot;...&quot;) are supported though.</li>
        <li><a href="#regular_expressions">Regular expressions</a> are supported!</li>
        <li>Terms beginning with a <code>+</code> sign <strong>must</strong> occur.</li>
        <li>Terms beginning with a <code>-</code> sign <strong>must not</strong> occur.</li>
        <li>You can modify (&quot;boost&quot;) a term&apos;s weight by appending &quot;^&quot; plus value to the term which will be multiplied with the term&apos;s initial weight (negative values are possible as well).</li>
        <li>Sample query: <a href="%cgi_file%?db=lir&amp;query=%2Bindexierung+ranking.*^1.5+automatisch^-1.5+-thesaurus&amp;ranking=2&amp;regexp=1&amp;threshold=2.5&amp;action=get_results"><samp>+indexierung ranking.*^1.5 automatisch^-1.5 -thesaurus</samp></a><br />Will find documents containing &quot;indexierung&quot; and preferably &quot;ranking&quot; (the &quot;.*&quot; indicates end-truncation) but not &quot;thesaurus&quot;, any occurence of &quot;automatisch&quot; will decrease the document&apos;s rank.</li>
      </ul>
    </p>
    <hr />
    <p>
      <h2><a name="ranked_query">Ranked query</a></h2>
      A <i>ranked query</i> or <i>best match query</i>, as opposed to <i>exact match query</i> or <i>boolean query</i>, is a means of improving query results by assigning each result a weight according to its relevance for this particular query and displaying the results in descending order of relevance.<br />
      Thus, the most relevant documents will be presented at the top of the result list, without having less relevant documents completely omitted as is the case with boolean queries, where documents not containing <em>all</em> of the query terms simply fall short. [<a name="footnote_href_1" href="#footnote_1">1</a>]<br />
      In so doing, <i>recall</i> gets immensely increased while some kind of <i>precision</i> is still achieved through the relevance ranking.<br />
      <br />
      Yet still problematic is the concept of <i>relevance</i> [<a name="footnote_href_2" href="#footnote_2">2</a>] of a certain document for a particular query. The usual approach is to assign weights to the index terms and generate a document&apos;s weight (which acts as a measure for its relevance) from the matching term&apos;s weights.<br />
      <em>lir.pl</em> offers using various term weights calculated by different <a class="help_me" href="#algorithms">algorithms</a> [<a name="footnote_href_3" href="#footnote_3">3</a>] to allow for comparison of their effects and appropriateness as relevance measures.
    </p>
    <hr />
    <p>
      <h2><a name="algorithms">Algorithms</a></h2>
      <table class="help_toc">
        <tr>
          <td class="toc_item"><a href="#salton">Salton</a></td>
        </tr>
        <tr>
          <td class="toc_item"><a href="#kascade_einfach">Kascade einfach</a></td>
        </tr>
        <tr>
          <td class="toc_item"><a href="#kascade_komplex">Kascade komplex</a></td>
        </tr>
        <tr>
          <td class="toc_item"><a href="#robertson">Robertson</a></td>
        </tr>
        <tr>
          <td class="toc_item"><a href="#idf">IDF</a></td>
        </tr>
        <tr>
          <td class="toc_item"><a href="#custom">Custom</a></td>
        </tr>
        <tr>
          <td class="toc_item"><a href="#no_ranking">None</a></td>
        </tr>
      </table>
      <br />
      Formulas and annotations are based on <span class="litref">Lepsky</span> [<a href="#footnote_3">3</a>] and <span class="litref">Lohmann</span> [<a name="footnote_href_4" href="#footnote_4">4</a>].<br />
      <br />
      <div class="legend">
        <h3 class="heading">Legend:</h3>
        <table>
          <tr>
            <td>docNum</td>
            <td><em>N</em></td>
            <td>Number of documents in the collection</td>
          </tr>
          <tr>
            <td>docNum(W)</td>
            <td><em>df</em></td>
            <td>Number of documents containing basic form <var title="%tt_word%">w</var> (&quot;document frequency&quot;)</td>
          </tr>
          <tr>
            <td>colLen</td>
            <td></td>
            <td>Number of detected word forms in the collection (&quot;collection length&quot;)</td>
          </tr>
          <tr>
            <td>docLen(D)</td>
            <td></td>
            <td>Number of detected word forms in document <var title="%tt_document%">d</var></td>
          </tr>
          <tr>
            <td>formLen(D)</td>
            <td></td>
            <td>Number of distinct basic forms in document <var title="%tt_document%">d</var></td>
          </tr>
          <tr>
            <td>freq(W, D)</td>
            <td><em>tf</em></td>
            <td>Frequency of basic form <var title="%tt_word%">w</var> in document <var title="%tt_document%">d</var> (&quot;term frequency&quot;)</td>
          </tr>
          <tr>
            <td>freq(W)</td>
            <td></td>
            <td>Frequency of basic form <var title="%tt_word%">w</var> in the collection</td>
          </tr>
          <tr>
            <td>len(W)</td>
            <td></td>
            <td>Character length of basic form <var title="%tt_word%">W</var></td>
          </tr>
          <tr>
            <td colspan="3"><hr /></td>
          </tr>
          <tr>
            <td>w(W, D)</td>
            <td></td>
            <td>Weight of document <var title="%tt_document%">d</var> resulting from basic form <var title="%tt_word%">w</var><br />(The overall weight of the document - expressing the relevance of this document for the query - is calculated as the sum of the individual weights resulting from each of the query&apos;s terms.)</td>
          </tr>
        </table>
      </div> <!-- class="legend" -->
      <ul class="algorithms">
        <li>
          <h3 class="heading"><a name="salton">Salton</a></h3>
          <div class="algorithm">
            <div class="formula"><abbr title="%tt_weight%">w(W, D)</abbr> = <abbr title="%tt_freq%">freq(W, D)</abbr> * log(<abbr title="%tt_docnum%">docNum</abbr> / <abbr title="%tt_docfreq%">docNum(W)</abbr>)</div>
          </div> <!-- class="algorithm" -->
        </li>
        <li>
          <h3><a name="kascade_einfach">Kascade einfach</a></h3>
          <div class="algorithm">
            w<sub>1</sub>(W) = 1 - <abbr title="%tt_docfreq%">docNum(W)</abbr> / <abbr title="%tt_colfreq%">freq(W)</abbr><br />
            w<sub>2</sub>(W, D) = 1 - ((<abbr title="%tt_doclen%">docLen(D)</abbr> / <abbr title="%tt_collen%">colLen</abbr>) / (<abbr title="%tt_freq%">freq(W, D)</abbr> / <abbr title="%tt_colfreq%">freq(W)</abbr>)) [at least 0]<br />
            w<sub>3</sub>(W) = log(<abbr title="%tt_len%">len(W)</abbr>) / 4<br />
            <div class="formula"><abbr title="%tt_weight%">w(W, D)</abbr> = c<sub>1</sub> * w<sub>1</sub> + c<sub>2</sub> * w<sub>2</sub> + c<sub>3</sub> * w<sub>3</sub></div>
            <div class="with">c<sub>1</sub>, c<sub>2</sub>, c<sub>3</sub>: arbitrary constants, default value: 1</div>
          </div> <!-- class="algorithm" -->
        </li>
        <li>
          <h3><a name="kascade_komplex">Kascade komplex</a></h3>
          <div class="algorithm">
            w<sub>1</sub>(W) = 1 - <abbr title="%tt_docfreq%">docNum(W)</abbr> / E(<abbr title="%tt_docfreq%">docNum(W)</abbr>) [at least 0]<br />
            <div class="with">E(<abbr title="%tt_docfreq%">docNum(W)</abbr>) = <abbr title="%tt_formlen%">formLen(D)</abbr> * (1 - e<sup>-&#955;</sup>)</div>
            <div class="with">&#955; = <abbr title="%tt_colfreq%">freq(W)</abbr> / <abbr title="%tt_collen%">colLen</abbr></div>
            <br />
            w<sub>2</sub>(W, D) = (p(1) * 1 + ... + p(<abbr title="%tt_freq%">freq(W, D)</abbr>) * <abbr title="%tt_freq%">freq(W, D)</abbr>) / &#955;<br />
            <div class="with">p(i) = e<sup>-&#955;</sup> * &#955;<sup>i</sup> / i!</div>
            <div class="with">&#955; = <abbr title="%tt_colfreq%">freq(W)</abbr> * <abbr title="%tt_doclen%">docLen(D)</abbr> / <abbr title="%tt_collen%">colLen</abbr></div>
            <br />
            w<sub>3</sub>(W) = log(<abbr title="%tt_len%">len(W)</abbr>) / 4<br />
            <div class="formula"><abbr title="%tt_weight%">w(W, D)</abbr> = c<sub>1</sub> * w<sub>1</sub> + c<sub>2</sub> * w<sub>2</sub> + c<sub>3</sub> * w<sub>3</sub></div>
            <div class="with">c<sub>1</sub>, c<sub>2</sub>, c<sub>3</sub>: arbitrary constants, default value: 1</div>
          </div> <!-- class="algorithm" -->
        </li>
        <li>
          <h3><a name="robertson">Robertson</a></h3>
          <div class="algorithm">
            <div class="formula"><abbr title="%tt_weight%">w(W, D)</abbr> = (c + 1) * <abbr title="%tt_freq%">freq(W, D)</abbr> / (c + <abbr title="%tt_freq%">freq(W, D)</abbr>) * log((<abbr title="%tt_docnum%">docNum</abbr> - <abbr title="%tt_docfreq%">docNum(W)</abbr> + 0.5) / (<abbr title="%tt_docfreq%">docNum(W)</abbr> + 0.5))</div>
            <div class="with">c: arbitrary constant</div>
          </div> <!-- class="algorithm" -->
        </li>
        <li>
          <h3><a name="idf">IDF</a></h3>
          <div class="algorithm">
            <div class="formula"><abbr title="%tt_weight%">w(W)</abbr> = log(<abbr title="%tt_docnum%">docNum</abbr> / <abbr title="%tt_docfreq%">docNum(W)</abbr>)</div>
          </div> <!-- class="algorithm" -->
        </li>
        <li>
          <h3><a name="custom">Custom ranking</a></h3>
          Build your own ranking algorithm by using the following components to form an arithmetic expression:<br />
          <div class="legend">
            <h4 class="heading">Special variables:</h4>
            <table>
              <tr><td>tf</td><td>Term frequency</td><td><em>= freq(W, D)</em></td></tr>
              <tr><td>df</td><td>Document frequency</td><td><em>= docNum(W)</em></td></tr>
              <tr><td>N</td><td>Number of documents in the collection</td><td><em>= docNum</em></td></tr>
            </table>
            <h4 class="heading">Arithmetic operators:</h4>
            <table>
              <tr><td>+</td><td>Addition</td></tr>
              <tr><td>-</td><td>Subtraction</td></tr>
              <tr><td>*</td><td>Multiplication</td></tr>
              <tr><td>/</td><td>Division</td></tr>
              <tr><td>%</td><td>Modulus</td></tr>
              <tr><td>**</td><td>Exponent</td></tr>
              <tr><td>()</td><td>Parentheses</td></tr>
            </table>
            <h4 class="heading">Arithmetic functions:</h4>
            <table>
              <tr><td>atan2(Y,X)</td><td>Arctangent of Y/X in the range -&#960; to &#960;</td></tr>
              <tr><td>cos(EXPR)</td><td>Cosine of EXPR (expressed in radians)</td></tr>
              <tr><td>exp(EXPR)</td><td><abbr title="%tt_e%">e</abbr> to the power of EXPR</td></tr>
              <tr><td>int(EXPR)</td><td>The integer portion of EXPR</td></tr>
              <tr><td>log(EXPR)</td><td>Logarithm (base <abbr title="%tt_e%">e</abbr>) of EXPR</td></tr>
              <tr><td>rand(EXPR)</td><td>A random fractional number between 0 and the value of EXPR (EXPR should be positive)</td></tr>
              <tr><td>sin(EXPR)</td><td>Sine of EXPR (expressed in radians)</td></tr>
              <tr><td>sqrt(EXPR)</td><td>Square root of EXPR</td></tr>
            </table>
          </div> <!-- class="legend" -->
          <br />
          <h4>Examples:</h4>
          <table>
            <tr>
              <td><a class="help_me" href="#salton">Salton</a></td>
              <td><code><abbr title="%tt_freq%">tf</abbr> * log(<abbr title="%tt_docnum%">N</abbr> / <abbr title="%tt_docfreq%">df</abbr>)</code></td>
            </tr>
            <tr>
              <td><a class="help_me" href="#robertson">Robertson</a></td>
              <td><code>(c + 1) * <abbr title="%tt_freq%">tf</abbr> / (c + <abbr title="%tt_freq%">tf</abbr>) * log((<abbr title="%tt_docnum%">N</abbr> - <abbr title="%tt_docfreq%">df</abbr> + 0.5) / (<abbr title="%tt_docfreq%">df</abbr> + 0.5))</code><br />Where <code>c</code> should be replaced with a suitable constant.</td>
            </tr>
            <tr>
              <td><a class="help_me" href="#idf">IDF</a></td>
              <td><code>log(<abbr title="%tt_docnum%">N</abbr> / <abbr title="%tt_docfreq%">df</abbr>)</code></td>
            </tr>
            <tr>
              <td colspan="2"><hr />Default:</td>
            </tr>
            <tr>
              <td><strong>TF*IDF</strong></td>
              <td><code><abbr title="%tt_freq%">tf</abbr> * log(<abbr title="%tt_docnum%">N</abbr> / <abbr title="%tt_docfreq%">df</abbr>)</code></td>
            </tr>
          </table>
        </li>
        <li>
          <h3><a name="no_ranking">No ranking</a></h3>
          Documents are sorted by document number instead.
        </li>
      </ul>
    </p>
    <hr />
    <p>
      <h2><a name="regular_expressions">Regular expressions</a></h2>
      In short:<br />
      <ul>
        <li>
          <code>.</code> stands for <strong>any character</strong>
        </li>
        <li>
          <code>[]</code> stands for <strong>any enumerated character</strong><br />
          E.g. <code>[aeiou]</code> matches any vowel.
        </li>
        <li>
          <code>(|)</code> stands for <strong>any enumerated string</strong><br />
          E.g. <code>(ai|ei|ay|ey)</code> matches any of &quot;ai&quot;, &quot;ei&quot;, &quot;ay&quot;, &quot;ey&quot; (<code>|</code> meaning &quot;or&quot;).<br />
          =&gt; Not sure how to write Dewey? Try this one <a href="%cgi_file%?db=lit&amp;query=Dew(ay|ai|ey|ei)&amp;case_sensitive=1&amp;regexp=1&amp;truncated=1&amp;action=get_results"><samp>Dew(ai|ei|ay|ey)</samp></a>.
        </li>
        <li>
          <code>*</code> repeats the previous symbol <strong>zero or more</strong> times
        </li>
        <li>
          <code>?</code> repeats the previous symbol <strong>zero or one</strong> time
        </li>
        <li>
          <code>+</code> repeats the previous symbol <strong>one or more</strong> times
        </li>
        <li>
          This makes <code>.*</code> working as the well-known <strong>truncation</strong><br />
          =&gt; <a href="%cgi_file%?db=lit&amp;query=Indexierung.*&amp;case_sensitive=1&amp;regexp=1&amp;action=get_results"><samp>Indexierung.*</samp></a> finds anything beginning with &quot;Indexierung&quot;.
        </li>
        <li>
          <code>()</code> <strong>groups</strong> characters<br />
          E.g. <code>(ierung)?</code> matches &quot;ierung&quot; at most once.<br />
          =&gt; So <a href="%cgi_file%?db=lit&amp;query=Index(ierung)?&amp;case_sensitive=1&amp;regexp=1&amp;action=get_results"><samp>Index(ierung)?</samp></a> searches for &quot;Index&quot; or &quot;Indexierung&quot;.
        </li>
        <li>
          <code>(?i:<var title="%tt_string%">string</var>)</code> makes <var title="%tt_string%">string</var> matching <strong>case-insensitive</strong><br />
          (While this is the default behaviour you can use <code>(?-i:<var title="%tt_string%">string</var>)</code> to match <strong>case-sensitive</strong>ly.)
        </li>
      </ul>
      For more information see:<br />
      <ul>
        <li><a class="ext" href="http://en.wikipedia.org/wiki/Regular_expression">Regular expression</a> - From wikipedia, the free encyclopedia</li>
        <li><a class="ext" href="https://www.princeton.edu/~mlovett/reference/Regular-Expressions.pdf">Regular Expressions</a> - A slightly outdated tutorial</li>
        <li><a class="ext" href="https://perldoc.perl.org/perlre.html">Perl regular expressions</a> - Perl 5 documentation</li>
      </ul>
    </p>
    <hr />
    <p>
      <h2><a name="options">Options</a></h2>
      <ul>
        <li>
          <strong>regular expression</strong><br />
          <a class="help_me" href="#regular_expressions">Regular expressions</a> provide powerful means for query formulation, but since it&apos;s (about 50%) faster to use &quot;fixed strings&quot; you need to explicitly toggle the &quot;regular expression&quot; option.<br />
          (NB: The &quot;end-truncated&quot; and &quot;case-sensitive&quot; options imply &quot;regular expression&quot;!)
        </li>
        <li>
          <strong>end-truncated</strong><br />
          ...
        </li>
        <li>
          <strong>case-sensitive</strong><br />
          ...
        </li>
      </ul>
    </p>
    <div class="footnotes">
      <h2><a name="footnotes">Footnotes</a></h2>
      <table>
        <tr>
          <td>[<a name="footnote_1" href="#footnote_href_1">1</a>]</td>
          <td>Strictly speaking, this only applies to Boolean AND-queries, but the problem with OR-queries is that they lack any information on the result&apos;s relevance, the relevant results are simply scattered around the results list; actually, a <i>ranked query</i> - in its simplest form - is a Boolean OR-query <em>with relevance ranking</em>.</td>
        </tr>
        <tr>
          <td>[<a name="footnote_2" href="#footnote_href_2">2</a>]</td>
          <td>
            For a comprehensive survey see: <span class="litref">Saracevic: <a href="%home_file%files/saracevic_-_relevance_-_a_review_of_and_a_framework_for_the_thinking_on_the_notion_in_information_science.pdf">RELEVANCE: A Review of and a Framework for the Thinking on the Notion in Information Science</a></span> [pdf].<br />
            Probabilistic IR: <span class="litref">Crestani et al.: <a href="%home_file%files/crestani_et_al._-_a_survey_of_probabilistic_models_in_information_retrieval.pdf">&quot;Is This Document Relevant? ... Probably&quot;: A Survey of Probabilistic Models in Information Retrieval</a></span> [pdf].
          </td>
        </tr>
        <tr>
          <td>[<a name="footnote_3" href="#footnote_href_3">3</a>]</td>
          <td>
            <span class="litref">Lepsky: <a  href="%home_file%files/lepsky_-_automatisches_indexieren.pdf">Automatisches Indexieren</a></span> [pdf].<br />
            <span class="litref">Larson &amp; Hearst: <a href="%home_file%files/larson_&amp;_hearst_-_term_weighting_and_ranking_algorithms_(presentation).pdf">Term Weighting and Ranking Algorithms</a></span> [pdf].<br />
            <span class="litref">Salton &amp; Buckley: <a class="ext" href="http://dx.doi.org/10.1016/0306-4573(88)90021-0">Term-weighting approaches in automatic text retrieval</a>. In: <a class="ext" href="http://www.sciencedirect.com/science/journal/03064573">Information Processing &amp; Management</a> vol. 24, no. 5, pp. 513-523, 1988</span>.
          </td>
        </tr>
        <tr>
          <td>[<a name="footnote_4" href="#footnote_href_4">4</a>]</td>
          <td>
            <span class="litref">Lohmann: <a class="ext" href="http://nbn-resolving.de/urn:nbn:de:hbz:061:1-131373">KASCADE: Dokumentanreicherung und automatische Inhaltserschlie&#223;ung - Projektbericht und Ergebnisse des Retrievaltests</a>. D&#252;sseldorf, 2000. (<a class="ext" href="https://www.ulb.hhu.de/ueberblick-gewinnen/presse-und-oeffentlichkeitsarbeit/publikationen/schriften-der-ulb.html">Schriften der Universit&#228;ts- und Landesbibliothek D&#252;sseldorf</a>; 31)</span>.
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><span style="font-size: 120%;">*</span></td>
          <td>And also, the <em>lir.pl</em> databases <a href="%cgi_file%?db=lir">&quot;LIR&quot;</a> and <a href="%cgi_file%?db=lit">&quot;Literatur zur Inhaltserschlie&#223;ung&quot;</a> offer a lot of references on these and related topics!</td>
        </tr>
      </table>
    </div> <!-- class="footnotes" -->
  </div> <!-- class="help" -->
<TMPL_INCLUDE name="compact_menu.inc">
<TMPL_INCLUDE name="footer.inc">
</body>
</html>
