<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 Strict//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta http-equiv="content-type" content="%content_type%; charset=UTF-8"></meta>
  <link rel="stylesheet" type="text/css" href="/cgi-bin/parse_css.pl?local=%css_file%"></link>
  <title>%heading%</title>
</head>
<body>
  <h1 class="heading">%heading%</h1>
  <div class="menu">
    <table>
      <tr>
        <td class="right"><span class="go_xxx"><a href="%cgi_file%">lir_index.pl</a></span> | <span class="go_xxx"><a href="%home_file%">lir home</a></span></td>
      </tr>
    </table>
  </div> <!-- class="menu" -->
  <!-- <div class="help">
    <a name="hints">at first, just a few hints:</a><br />
    <ul>
      <li></li>
    </ul>
    <br />
    <hr />
    <br />
    <h2><a name="toc">help contents</a></h2>
    <table class="help_toc">
      <tr>
        <td>&#8226;</td>
        <td class="toc_item"><a href="#ranked_query"></a></td>
        <td>-</td>
        <td></td>
      </tr>
    </table>
    <br />
    <hr />
    <br />
    <h2><a name="ranked_query"></a></h2>
    <br />
    <br />
    <a href="#toc" class="toc_ref">^toc</a>
    <br />
    <br />
    <div class="footnotes">
      <table>
        <tr>
          <td>[<a name="footnote_1" href="#footnote_href_1">1</a>]</td>
          <td></td>
        </tr>
      </table>
    </div> --> <!-- class="footnotes" -->
  <!-- </div> --> <!-- class="help" -->
  <div class="menu">
    <table>
      <tr>
        <td class="right"><span class="go_xxx"><a href="%cgi_file%">lir_index.pl</a></span> | <span class="go_xxx"><a href="%home_file%">lir home</a></span></td>
      </tr>
    </table>
  </div> <!-- class="menu" -->
<TMPL_INCLUDE name="footer.inc">
</body>
</html>
