<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 Strict//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta http-equiv="content-type" content="%content_type%; charset=UTF-8"></meta>
  <link rel="stylesheet" type="text/css" href="%css_file%"></link>
  <title>%heading%</title>
  <style type="text/css">
    .highlight {
      background-color: #C0C0C0;
    }
  </style>
  <script type="text/javascript">
    function highlight(id) {
      document.getElementById('step' + id).classList.toggle('highlight');
    }
  </script>
</head>
<body id="form">
  <h1 class="heading">%heading%</h1>
<TMPL_INCLUDE name="index_menu.inc">
  <div class="query_form">
  <TMPL_UNLESS name="summary">
    <table width="100%">
      <tr>
        <td width="60%">
          <form action="%cgi_file%" method="post" enctype="multipart/form-data">
            <TMPL_UNLESS name="collection_ok">
            <input type="hidden" name="action" value="start"></input>
            <table>
              <tr onmouseover="highlight('1')" onmouseout="highlight('1')">
                <td class="form_label"><label for="input_id"><strong>ID</strong></label>:</td>
                <td colspan="3"><TMPL_IF name="missing_id"><span class="missing">Collection ID missing!</span><br /><TMPL_ELSE><TMPL_IF name="exists_collection"><span class="missing">Collection already exists!<br />Enter a different ID or resend form to overwrite.</span><input type="hidden" name="overwrite" value="%id%"></input><br /></TMPL_IF></TMPL_IF><input id="input_id" name="id" type="text" size="30" maxlength="10" value="%id%"></input></td>
              </tr>
              <tr onmouseover="highlight('2')" onmouseout="highlight('2')">
                <td class="form_label"><label for="input_name">Name</label>:</td>
                <td colspan="3"><input id="input_name" name="name" type="text" size="30" maxlength="40" value="%name%"></input></td>
              </tr>
              <tr onmouseover="highlight('3')" onmouseout="highlight('3')">
                <td class="form_label"><label for="input_desc">Description</label>:</td>
                <td colspan="3"><input id="input_desc" name="desc" type="text" size="30" maxlength="160" value="%desc%"></input></td>
              </tr>
              <tr>
                <td></td>
                <td colspan="3"><hr /><input type="submit" value="Submit"></input> <input type="reset" value="Reset"></input></td>
              </tr>
            </table>
            <TMPL_ELSE>
            <input type="hidden" name="action" value="submit"></input>
            <table>
              <tr>
                <td class="form_label"><strong>ID</strong>:</td>
                <td colspan="3"><TMPL_IF name="overwrite"><span class="missing">Collection already exists, but will be overwritten!</span><input type="hidden" name="overwrite" value="%id%"></input><br /></TMPL_IF><strong>%id%<input type="hidden" name="id" value="%id%"></input></strong></td>
              </tr>
              <tr>
                <td class="form_label">Name:</td>
                <td colspan="3">%name%<input type="hidden" name="name" value="%name%"></input></td>
              </tr>
              <tr>
                <td class="form_label">Description:</td>
                <td colspan="3">%desc%<input type="hidden" name="desc" value="%desc%"></input></td>
              </tr>
              <tr>
                <td></td>
                <td colspan="3"><hr /></td>
              </tr>
              <tr onmouseover="highlight('4')" onmouseout="highlight('4')">
                <td class="form_label"><label for="input_db_file"><strong>DB file</strong></label>:</td>
                <td><TMPL_IF name="missing_db_file"><span class="missing">DB file missing!</span><br /></TMPL_IF><TMPL_IF name="cantread_db"><span class="missing">Can&apos;t read DB file!</span><br /></TMPL_IF><input id="input_db_file" name="db_file" type="file" size="30" maxlength="100000000" accept="text/*"></input></td> <!-- the "value" attribute is not supported for security reasons (http://de.selfhtml.org/html/formulare/datei_upload.htm#definieren) -->
                <td class="form_label"><label for="select_db_encoding">Encoding</label>:</td>
                <td><select id="select_db_encoding" name="db_enc" size="1">
                  <option>UTF-8</option>
                  <option>CP850</option>
                  <option>ISO-8859-1</option>
                </select></td>
              </tr>
              <tr onmouseover="highlight('5')" onmouseout="highlight('5')">
                <td class="form_label"><label for="input_cat_id"><strong>ID Category</strong></label>:</td>
                <td><input id="input_cat_id" name="cat_id" type="text" size="6" maxlength="40" value="001"></input></td>
                <td class="form_label"><label for="input_cat_tit"><strong>Title Category</strong></label>:</td>
                <td><input id="input_cat_tit" name="cat_tit" type="text" size="6" maxlength="40" value="020"></input></td>
              </tr>
              <tr>
                <td class="form_label"><strong>Ranking files</strong>:</td>
                <td colspan="3"><TMPL_IF name="missing_r_file"><span class="missing">Ranking file missing! (You need to provide at least one)</span></TMPL_IF><TMPL_IF name="cantread_r"><span class="missing">Can&apos;t read ranking file! (At least one of them)</span><br /></TMPL_IF></td>
              </tr>
              <TMPL_LOOP name="input_ranking_files">
              <tr onmouseover="highlight('6')" onmouseout="highlight('6')">
                <td class="form_label"><label for="input_%id%_file">%name%</label>:</td>
                <td><input id="input_%id%_file" name="r%id%_file" type="file" size="30" maxlength="100000000" accept="text/*"></input></td>
                <td class="form_label"><label for="select_r%id%_encoding">Encoding</label>:</td>
                <td><select id="select_r%id%_encoding" name="r%id%_enc" size="1">
                  <option>UTF-8</option>
                  <option>CP850</option>
                  <option>ISO-8859-1</option>
                </select></td>
              </tr>
              </TMPL_LOOP>
              <tr onmouseover="highlight('7')" onmouseout="highlight('7')">
                <td></td>
                <td colspan="3"><hr /><input type="submit" value="Submit"></input> <input type="reset" value="Reset"></input></td>
              </tr>
            </table>
            </TMPL_UNLESS>
          </form>
        </td>
        <td width="40%">
          <div class="search_tips">
            <table>
              <tr>
                <td>
                  <strong>Quick instructions:</strong>
                  <ol>
                    <!-- <li><a class="help_me" href="%help_file%#???"></a></li> -->
                    <li id="step1" <TMPL_IF name="collection_ok">style="color: grey"</TMPL_IF>>Enter <strong>Collection ID</strong> (required!). Make it short and memorable (ASCII-only). E.g. <em>test</em><br />NOTE: If the collection already exists you can choose to overwrite it.</li>
                    <li id="step2" <TMPL_IF name="collection_ok">style="color: grey"</TMPL_IF>>Enter a name (should be short as well). Defaults to collection ID. E.g. <em>My test DB</em></li>
                    <li id="step3" <TMPL_IF name="collection_ok">style="color: grey"</TMPL_IF>>Enter a description. Defaults to collection name. E.g. <em>My test database (xxx records)</em></li>
                    <hr />
                    <li id="step4" <TMPL_UNLESS name="collection_ok">style="color: grey"</TMPL_UNLESS>>Specify <strong>DB file</strong> (required!). <a href="%home_file%files/lir-sample.db">Sample file</a></li>
                    <li id="step5" <TMPL_UNLESS name="collection_ok">style="color: grey"</TMPL_UNLESS>>Specify key <strong>Categories</strong> matching your data format.</li>
                    <li id="step6" <TMPL_UNLESS name="collection_ok">style="color: grey"</TMPL_UNLESS>>Specify <u>at least one</u> <strong>Ranking file</strong> (required!). <a href="%home_file%files/lir-sample.idx">Sample file</a></li>
                    <li id="step7" <TMPL_UNLESS name="collection_ok">style="color: grey"</TMPL_UNLESS>>Submit your request - and <strong>please be patient</strong>. The program needs to upload the specified files and process them - only then will a summary be displayed.</li>
                  </ol>
                </td>
              </tr>
            </table>
          </div> <!-- class="search_tips" -->
        </td>
      </tr>
    </table>
  <TMPL_ELSE>
  <pre>%summary%</pre>
  <table>
  <tr><td><strong>&gt;</strong></td><td><strong>Now view your newly created collection in <a href="%lir_pl%">lir.pl</a>.</strong></td></tr>
  <tr><td></td><td><small>In the future, it can be accessed by its ID: <strong>lab/%id%</strong></small></td></tr>
  </table>
  </TMPL_UNLESS>
  </div> <!-- class="query_form" -->
<TMPL_INCLUDE name="index_menu.inc">
<TMPL_INCLUDE name="footer.inc">
</body>
</html>
