<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 Strict//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta http-equiv="content-type" content="%content_type%; charset=UTF-8"></meta>
  <link rel="stylesheet" type="text/css" href="%css_file%"></link>
  <title>%heading%</title>
</head>
<body>
  <h1 class="heading">%heading%</h1>
<TMPL_INCLUDE name="compact_menu.inc">
  <div class="hint">in order for this to work you need to have cookies enabled!</div>

<TMPL_INCLUDE name="compact_menu.inc">
<TMPL_INCLUDE name="footer.inc">
</body>
</html>
